functions:
- generateTestNumber:
    method: POST
    path: /test-number
    proxy: null
    function: generateTestNumber
- generateTrailerId:
    method: POST
    path: /trailerId
    proxy: null
    function: generateTrailerId
dynamodb:
  local:
    params:
      region: localhost
      endpoint: http://localhost:8008
      maxRetries: 10
      httpOptions:
        timeout: 30000
    table: cvs-local-test-number
    keys:
      - testNumber
  local-global:
    params:
      region: localhost
      endpoint: http://localhost:8000
      maxRetries: 10
      httpOptions:
        timeout: 30000
    table: cvs-local-global-test-number
  remote:
    params:
      maxRetries: 10
      httpOptions:
        timeout: 30000
    table: cvs-${BRANCH}-test-number
serverless:
  basePath: /${BRANCH}
  port: 3008
testNumberinitialValue:
  testNumber: W01A000
  id: W01
  certLetter: A
  sequenceNumber: "000"
  testNumberKey: 1
trailerIdInitialValue:
  trailerId: C530000
  trailerLetter: C
  sequenceNumber: 530000
  testNumberKey: 2
maxAttempts: 2
